<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {#<link rel="icon" href="../../../../favicon.ico">#}

    <title>{% block title %}{% endblock %}Microjobs SoN</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset("bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset("fontawesome/css/fontawesome-all.css") }}">
    <!-- Custom styles for this template -->
    <link href="{{ asset("css/estilos.css") }}" rel="stylesheet">

    {% block stylesheets %}

    {% endblock %}
</head>

<body>

<header>
    <nav class="navbar box-shadow navbar-expand-lg navbar-dark bg-info fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="{{ path("default") }}"><i class="fa fa-at"></i> Microjobs SoN</a>
            {{ render(controller('App\\Controller\\CategoriasController::listar_topo')) }}
            <form class="form-inline" method="get" action="">
                <input class="form-control mr-sm-2" name="busca" type="search" value="{{ app.request.get('busca') }}" placeholder="Buscar microjob por ... " aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <ul class="navbar-nav">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="navbar-nav">
                        <span class="navbar-text">
                            Olá {{ app.user.nome }}
                        </span>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle"
                                href="#" id="nav_usuario_logado" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"
                            ></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav_usuario_logado">
                                <h6 class="dropdown-header">
                                    Perfil atual:
                                    {#{% if app.user.roles.0 == 'ROLE_FREELA' %}#}
                                        {#<strong>Freelancer</strong>#}
                                    {#{% elseif app.user.roles.0 == 'ROLE_CLIENTE' %}#}
                                        {#<strong>Cliente</strong>#}
                                    {#{% else %}#}
                                        {#<strong>Administrador</strong>#}
                                    {#{% endif %}#}

                                    {% if is_granted("ROLE_ADMIN") %}
                                        <strong>Administrador</strong>
                                    {% elseif is_granted("ROLE_CLIENTE")  %}
                                        <strong>Cliente</strong>
                                    {% else %}
                                        <strong>Freelancer</strong>
                                    {% endif %}
                                </h6>
                                <a href="#" class="dropdown-item">Minha Conta</a>
                                <a href="#" class="dropdown-item">Meus Microjobs</a>
                                <div class="dropdown-divider"></div>
                                <a href="{{ path("logout") }}" class="dropdown-item">Sair do sistema</a>
                            </div>
                        </li>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ path("cadastrar_usuario") }}" class="nav-link">Cadastre-se</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path("login") }}" class="nav-link">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="pt-2">
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
        {% endfor %}
    </div>
    {% block body %}{% endblock %}
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{{ asset("bootstrap/js/bootstrap.js") }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>

